<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout=""
      layout:decorate="~{layoutShop}">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" th:href='@{/assetsShop/css/bootstrap.css}'/>
    <link rel="stylesheet" th:href='@{/assetsShop/style.css}'/>
    <link rel="stylesheet" th:href='@{/assetsShop/font-awesome/css/font-awesome.css}'/>

    <!-- Favicons -->
    <link rel="shortcut icon" href='@{/assetsShop/ico/favicon.ico}'/>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <div class="row">
        <div class="span9">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span5">
                        <div id="myCarousel" class="carousel slide cntr">
                            <div class="carousel-inner">
                                <img th:src="${product.Image}" alt="Image" style="width:100%">
                            </div>
                            <div class="span7">
                                <h3 th:text="${product.Name}"></h3>
                                <hr class="soft"/>
                                <form class="form-horizontal qtyFrm">
                                    <div class="control-group">
                                        <label class="control-label"><span th:text="${product.Price}"></span></label>
                                        <div class="controls">
                                            <input type="number" class="span6" placeholder="Qty.">
                                        </div>
                                    </div>
                                    <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to cart</button>
                                </form>
                            </div>
                            <h3>Decription</h3>
                            <p th:text="${product.Decription}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>