<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout=""
      layout:decorate="~{layoutShop}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" th:href='@{/assetsShop/css/bootstrap.css}'/>
    <link rel="stylesheet" th:href='@{/assetsShop/style.css}'/>
    <link rel="stylesheet" th:href='@{/assetsShop/font-awesome/css/font-awesome.css}'/>

    <!-- Favicons -->
    <link rel="shortcut icon" href='@{/assetsShop/ico/favicon.ico}'/>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <div class="row">
        <div class="span9">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span5">
                        <div id="myCarousel" class="carousel slide cntr">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img th:src="${product.Image}" alt="Image" style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span7">
                        <h3 th:text="${product.Name}"></h3>
                        <hr class="soft"/>
                        <form class="form-control">
                            <div class="control-group">
                                <label class="control-label"><h3>Price</h3></label>
                                <h4 th:text="${product.Price}"></h4>
                                <label class="control-label"><h3>Quantity</h3></label>
                                <input type="number" placeholder="0" style="width: 30px">
                            </div>
                            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to cart</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade active in" id="home">
                    <h4>Product Information</h4>
                    <p th:text="${product.Decription}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>